p{
    margin: 0;
}

#fractal-type-tgl{
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    flex-wrap: wrap;
}
#tgl{
    display: flex;
}
#newton-btn, #ice-btn{
    display: table-cell;
    width: 100%;
    height: 20px;
    background-color: transparent;
    border: 1px solid #FFF;
}
#side{
    display: flex;
    width: 20%;
    justify-content: space-between;
    flex-wrap: wrap;
}
#panel{
    display: flex;
    width: 25%;
    justify-content: space-between;
    flex-wrap: wrap;
}
#panel button{
    background-color: #563D8C;
    border: solid 1px white;
    color: white;
    padding: 1.5% 7%;
    border-radius: 100px;
}
#panel button:hover{
    background-color: #705C99;
    transition: 0.5s;
}
#panel button:active{
    background-color: #401B8F;
}
#main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 1% 0px;
    width: 100%;
    height: 100%;
}
#equation{
    display: flex;
    font-family: KyivType Sans;
    color: white;
    align-items: center;
    width: 30%;
    flex-wrap: wrap;
    justify-content: center;
}
#c{
    border: none;
    color: white;
    font-family: KyivType Sans;
    background-color: transparent;
    border-bottom: solid 1px white;
    width: fit-content;
}
#c:focus{
    outline: none;
    color: white;
}
#c::selection, p::selection{
    color: #FF3A99;
    background: #563D8C;
  }