#ice-btn{
    background: rgba(255, 58, 153, 0.42);
}
#fractalCanvas {
    max-width: 70vh;
    max-height: 70vh;
    width: 60%;
    height: 60%;
    display: block;
    margin: 0 auto;
    background-color: #4b27a0;
  }

  #side{
    display: flex;
    width: 20%;
    justify-content: space-between;
    
   
}

#fractal-type-tgl {
    margin-right: 47%; 
   
  }
  #c{
    width: 40px;
  }
  #apply{
    background-color: #563D8C;
    border: solid 1px white;
    color: white;
    padding: 1.5% 7%;
    margin-left: 5px;
    border-radius: 100px;
    font-size: x-small;
}
#apply:hover{
  background-color: #705C99;
  transition: 0.5s;
}
#apply:active{
  background-color: #401B8F;
}
#tgl button:hover{
  background-color: #705c99a8;
}
#tgl button:active{
  background-color: rgba(255, 58, 153, 0.76);
}