#newton-btn{
    background: rgba(255, 58, 153, 0.42);
}
#img{
    height: fit-content;
    width: fit-content;
    margin-top: 2%;
}
#key-color{
    /* -webkit-appearance: none; */
    /* -moz-appearance: none; */
    appearance: none;
    width: 40px;
    height: 30px;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  #key-color::-webkit-color-swatch {
    border-radius: 5px;
    border: none;
  }
  #key-color::-moz-color-swatch {
    border-radius: 5px;
    border: none;
  }
  #mode{
    background-color: #563D8C;
    border: solid 1px white;
    border-radius: 100px;
    /* outline: none; */
    /* background-color: transparent; */
    /* border: none; */
    font-family: KyivType Sans;
    color: #FF3A99;
    font-size: x-small;
    width: fit-content;
  }
  #apply{
    background-color: #563D8C;
    border: solid 1px white;
    color: white;
    padding: 1.5% 7%;
    border-radius: 100px;
    font-size: x-small;
}
#apply:hover{
    background-color: #705C99;
    transition: 0.5s;
}
#apply:active{
    background-color: #401B8F;
}
.visible{
  color: #FF3A99;
}
.invisible{
  color: transparent;
}