html,
body {
    margin: 0;
    padding: 0;
    border: 0;
    min-height: 100vh;
    width: 100%;
    font-family: Merriweather;
    overflow: hidden;
    color:aliceblue;


}
h1 {
    color: #5D737E;
    text-align:left;
   
    
   }

a:link,
a:active,
a:visited {
    color: var(--text-color);
}

a:hover {
    text-decoration: underline;
}

.main {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    background-color: var(--background-color);
    color: var(--text-color);
}

.header {
    display: flex;
}

.header-button {
    font-size: 2rem;
    padding: 0.5rem;
    flex-grow: 1;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    background-color: var(--accent-1);
}

.header-button.active {
    background-color: var(--accent-2);
    pointer-events: none;
}

.content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    position: relative;
    padding: 1rem;
}

.top {
    display: flex;
    flex-grow: 1;
    gap: 1rem;
}

.overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    pointer-events: none;
}



.btn-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.btn-content img {
    width: 100%;
    height: 100%;
}


.image {
    margin-top: 1rem;
    max-width: 100%;
    height: auto;
    border-radius: 1rem;
}

.left {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 1rem;
    font-family: KyivType Sans;
}

.right {
    flex-grow: 1;
    border-radius: 1rem;
    overflow: hidden;
}

.data-row {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 1rem;
}
#rang-row{
    flex-direction: column;
    padding-top: 5%;
}
input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;
    width: 20rem;
    padding-bottom: 5%;
  }
  
  input[type="range"]:focus {
    outline: none;
  }  
  
  input[type="range"]::-webkit-slider-runnable-track {
    background-color: white;
    border-radius: 0rem;
    height: 0.15rem;
  }
  
  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none; 
    appearance: none;
    margin-top: -6.4px; 
    background-color: white;
    border-radius: 0rem;
    height: 1rem;
    width: 0.2rem;
  }
  
  input[type="range"]:focus::-webkit-slider-thumb {
    outline: 1px solid #FF3A99;
    outline-offset: 0.2rem;
  }

.data-row input[type="text"] {
  
        border: none;
        color: white;
        font-family: KyivType Sans;
        background-color: transparent;
        border-bottom: solid 1px white;
        width: fit-content;
        padding: 10px;
}

.letter {
    margin: 0 1rem;
    font-size: 2rem;
}

.letter.bold {
    /* font-weight: bold; */
    font-size: 20px;
    font-family: KyivType Sans;
    margin: 10px;
}

.show {
    background-color: transparent;
    color:#FF3A99;
    border: 1px solid #FF3A99;
    font-size: medium;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
}
.show:hover{
    background-color: #ff3a9986;
    color: white;
}
.show:active{
    background-color: #ff3a9962;
}
.select{
    display: flex;
    width: 100%;
    align-items: center;
    align-content: center;
    justify-content: center;
    gap: 10%;
}
.select label{
    align-self: center;
}
select{
    margin: 5% 1%;
    background-color: #563D8C;
    padding: 1% 5%;
    border: none;
    border-radius: 100px;
    font-family: KyivType Sans;
    color: white;
    font-size: small;
    width: fit-content;
}
input:focus{
    outline: none;
}

