#luminance{
  display: flex;
  flex-direction: row;
  color: white;
  align-items: center;
  justify-content: center;
  gap: 5%;
  font-family: KyivType Sans;
  margin: 1%;
}
input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
  width: 28rem;
}

input[type="range"]:focus {
  outline: none;
}  

input[type="range"]::-webkit-slider-runnable-track {
  background-color: white;
  border-radius: 0rem;
  height: 0.15rem;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none; 
  appearance: none;
  margin-top: -6.4px; 
  background-color: white;
  border-radius: 0rem;
  height: 1rem;
  width: 0.2rem;
}

input[type="range"]:focus::-webkit-slider-thumb {
  outline: 1px solid #FF3A99;
  outline-offset: 0.2rem;
}

#image-wrap{
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  font-family: KyivType Sans;
  color: #FF3A99;
}

#image-wrap label{
  padding: 5px 20px;
}

#image-wrap label:hover{
  background-color: #ffffff25;
  cursor: pointer;
}

#image-wrap label:active{
 color: white;
}

#rgb-div, #hsl-div{
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  padding: 5px 10px;
  border-radius: 15px;
}

#color-list{
  background-color: #29125b;
  border: none;
  border-radius: 100px;
  padding: 5px 10px;
  font-family: KyivType Sans;
  font-size:large;
  width: fit-content;
}

#color-list:has(> option[value="0"]:checked) {
  color: hsl(0, 70%, 55%);
}

#color-list:has(> option[value="60"]:checked) {
  color: hsl(60, 50%, 60%);
}

#color-list:has(> option[value="120"]:checked) {
  color: hsl(120, 50%, 60%);
}

#color-list:has(> option[value="180"]:checked) {
  color: hsl(180, 50%, 60%);
}

#color-list:has(> option[value="240"]:checked) {
  color: hsl(240, 50%, 60%);
}

#color-list:has(> option[value="300"]:checked) {
  color: hsl(300, 50%, 60%);
}

#label-for-open-image{
  display: flex;
  flex-direction: column;
}

#values{
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.flex-row {
  display: flex;
}

.before-after, .images {
  justify-content: space-around;
  width: 100%;
  height: 90%;
  gap: 1rem;
}

#main{
  height: 80%;
  display: flex;
  flex-direction: column;
}

.values {
  margin-top: 0.5rem;
  gap:1rem;
  justify-content: space-around;
  display: flex;
}

.range-input {
  width: 100%;
}

canvas {
  width: 100%; 
  height: 100%; 
}

.before-after {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  margin: 0;
}

.before-after h2 {
  margin: 0;
  flex: 1;
  text-align: center;
}

.canvas-container1, .canvas-container2 {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.non-visible {
  display: none;
}

#c2{
  z-index: 10;
}

#output-canvas{
  z-index: 0;
}

#output-canvas, #c2{
  position: absolute;
}

#fragment{
  position: relative;
}

#btn-reset{
  background-color: transparent;
  border: solid 2px white;
  color:white;
  border-radius: 100px;
  padding: 2px 20px;
  cursor: pointer;
}

#btn-reset:hover{
  background-color: rgba(255, 255, 255, 0.121);
  transition: 0.3s;
}

#btn-reset:active{
  background-color: #29125b;
}