.white-space{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
    padding: 5%;
}
main{
    font-family: KyivType Sans;
}
img{
    border: solid 4px #FF3A99;
    transition: transform .9s ease;
}
img:hover{
    transform: scale(1.25);
    transition: 2s;
}
.big-text{
    color: white;
    font-weight: bold;
    font-size: xx-large;
    width: 30%;
    align-self: center;
}
.buttons{
    display: flex;
    justify-content: space-evenly;
    padding-top: 1%;
}
.buttons button{
    width: 20%;
    height: 70px;
    font-family: KyivType Sans;
    font-size: larger;
    border: none;
    border-left: solid 4px white;
    background-color: transparent;
    background-image: linear-gradient(0.25turn, #ff3a9900, #8F15D7);
    color: white;
}
.buttons button:hover{
    transition: 1s;
    background-color: #8F15D7;
    border-left: none;
}
.buttons button:active{
    background-image: linear-gradient(0.25turn, #ff3a9955, #8F15D7);
    transition: 0.5s;
}
