p{
    margin: 0;
}

body{
    background-color: #351974;
    margin: 0;
    overflow: hidden;
}

header, #main-header{
    display: flex;
    padding: 0.8% 3%;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid black 1px;
    color: #FF3A99;
    font-family: KyivType Sans;
}

#main-header{
    color: white;
}

#header-btn, #quiz-btn{
    background-color: rgba(86, 61, 140, 0.50);
    border: solid #D9D9D9 1px;
    border-radius: 100px;
    padding: 10px 30px;
    color: white;
}
#header-btn:hover, #quiz-btn:hover{
    background-color: #A884BE;
    transition: 0.3s;
}
#header-btn:active, #quiz-btn:active{
    background-color: #871AC7;
}


#save, #back-btn,.back-to-fractal-btn, .back-to-colors-btn{
    background-color: #AE12FF;
    border: none;
    border-radius: 100px; 
    padding: 5px 30px;
    color: white;
    font-size: large;
}
#save{
    font-size: small;
}
#save:hover, #back-btn:hover,.back-to-fractal-btn:hover, .back-to-colors-btn:hover{
    background-color: #A845DC;
    padding: 5px 40px;
    transition: 0.3s;
}
#save:active,#back-btn:active, .back-to-fractal-btn:active, .back-to-colors-btn:active{
    background-color: #743C90;
}

#side{
    display: flex;
    width: 35%;
    justify-content: space-between;
    flex-wrap: wrap;
}
