#documentation-content{
    margin: 1% 5%;
}
body{
    overflow:scroll;
    overflow-x:hidden; 
}
body::-webkit-scrollbar {
    display: none;
}
#info{
    margin: 1% 5%;
}
#newton-content, #ice-content,#documentation-description, li
{
    color: #FFF;
    font-family: KyivType Sans;
    font-size: 28px;
    font-style: normal;
    font-weight: 350;
    line-height: normal;
}
#newton-header,#ice-header
{
    color: #FF3A99;
font-family: KyivType Sans;
font-size: 50px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
h3{
    color: #FF3A99;
    font-family: KyivType Sans;
    font-size: 30px;
    margin: 15px;
}
#info
{
    flex-direction: column;
    display: flex;
}
.ice-link,.newton-link{
    text-decoration: none;
    color: #f875b4;
}
.ice-link:hover,.newton-link:hover
{
    border-bottom:solid #FF3A99;
    color: #FF3A99;
}
.documentation-link, .education-link
{
    color:#FF3A99;
    text-align: center;
    font-family: KyivType Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 350;
    line-height: normal;
    text-decoration: none;

}
#side-nav{
    display: flex;
    width: 70%;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
}
#side-nav a:hover{
    color: white;
}
.stud{
    color: #FFF;
    text-decoration: none;
    align-self: center;
    padding: 1% 2%;
}
.stud:hover{
    background-color: #f875b433;
}
.active
{
    border-bottom: solid pink;

}
.active2{
    border: 1px solid white;
}

.list{
  color: #f875b4;
  font-size: 30px;
}
.content a{
    text-decoration: none;
    color: white;
}
.content a:hover{
    color: #FF3A99;
}
.content a:active{
    background-color: rgba(0, 0, 0, 0.183);
}
